.aboutMeBody {
  margin: auto;
  margin-top: 40px;
  width: 70%;
  font-weight: bolder;
  box-shadow: 28px 27px 0px 4px white;
  font-size: 1.6em;
  padding: 15px;
  border-radius: 20px;
  background-color: #3cb9fc;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.skill {
  background-color: white;
  color: black;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}

.searchBar {
  text-align: center;
  margin: 20px 0px 30px 0px;
}

.searchBarModule[type="text"] {
  border-radius: 6px;
  padding: 9px;
  width: 15%;
  font-size: 1.1rem;
  transition: width 1.2s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchBarModule[type="text"]:focus {
  width: 60%;
}

.workMethodsContainer {
  color: white;
  margin: 30px;
}

.workMethodsList {
  display: flex;
  justify-content: center;
}

.workMethodsOption:hover {
  color: black;
  background-color: white;
  border-color: #3cb9fc;
}

.workMethodsOption {
  margin: 70px;
  padding: 10px 40px 10px 40px;
  list-style-type: none;
  font-size: x-large;
  border: solid;
}
