.aboutMeBody {
  margin: auto;
  width: 80%;
  font-weight: bolder;
  font-size: 1.6em;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.skill {
  background-color: white;
  color: black;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}

.searchBar {
  text-align: center;
  margin-bottom: 40px;
}

.searchBarModule[type="text"] {
  border-radius: 6px;
  padding: 9px;
  width: 15%;
  font-size: 1.1rem;
  transition: width 1.2s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchBarModule[type="text"]:focus {
  width: 60%;
}

.headerSpan {
  color: white;
  line-height: 50px;
  display: table;
  margin: 0 auto;
  font-size: x-large;
}

.bodyHeaderContainer {
  margin: 30px 0px 60px 0px;
}

.workContainer {
  display: flex;
  color: white;
  flex-direction: column;
}

.WEContainer {
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.WEName {
  font-weight: bolder;
  font-size: large;
  padding: 3px;
  border-bottom: solid;
}

.WELocation {
  margin-left: 30px;
  font-weight: normal;
}

.WEProject {
  padding: 3px;
}
