.aboutMeBody {
  margin: auto;
  width: 70%;
  margin-top: 20px;
  background-color: #3b6978;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 0px 30px 10px #ffd300;
  font-size: 1.1em;
  padding: 15px;
  border-radius: 20px;
}

.aboutMeHeader {
  margin: 80px;
  text-align: center;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.skill {
  background-color: #3b6978;
  color: white;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}

.searchBar {
  text-align: center;
  padding-bottom: 15px;
}

.searchBarModule[type=text] {
  border-radius: 10px;
  padding: 5px;
  width: 15%;
  font-size: 1.1rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchBarModule[type=text]:focus {
  width: 60%;
}

.leftColumn {
  width: 50%;
  text-align: right;
  line-height: 100px;
}

.leftColumnText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-right: 20px;
}

.rightColumn {
  width: 50%;
  text-align: left;
  margin: 0px 80px 0px 30px;
}