.SocialMediaBar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0px 0px;
}

.SocialMediaElement {
  padding: 10px;
  font-weight: 200;
  border-right: solid;
  border-bottom: solid;
  border-radius: 22px;
  border-width: thin;
  border-color: #3b6978;
}

.SocialMediaElement:hover {
  background-color: #ffd300;
  font-weight: bold;
}

.HeaderBar {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.HeaderBarDescriber {
  color: #ffd300;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.HeaderName {
  padding-top: 10%;
  font-size: -webkit-xxx-large;
}

.MinimizedHeaderName {
  font-size: 22px;
  font-weight: bold;
}

.NavBar {
  padding: 7px;
  display: inline-flex;
}

.MinimizedNavBar {
  display: inline-flex;
  font-size: 15px;
}

.NavLink {
  text-decoration: none;
  color: #3b6978;
  padding: 3px;
}

.HeaderUl {
  padding: 0;
}

li.HeaderNavItem {
  float: left;
  display: block;
  padding: 16px;
}

.active {
  font-weight: 600;
}

.BodyComponent {
  background-color: #3b6978;
  margin: 1%;
  height: 480px;
  border-radius: 20px;
  color: white;
}

.BodyHeader {
  font-weight: bold;
  font-size: x-large;
  padding: 2%;
  border-bottom-style: double;
  border-bottom-color: white;
}
