.App {
  text-align: center;
}

.HeaderBar {
  padding: 16px;
  display: inline-flex;
  width: 100%;
}

ul.HeaderNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.HeaderNavItem {
  float: left;
  display: block;
  padding: 16px;
}

.NavLink {
  text-decoration: none;
  color: #3b6978;
}

.active {
  background-color: #0099FF;
}

body{
  background-color: #f4f7c5;
}